main {
  height: 100%;
  background-color: aquamarine;
  .win {
    background-color: aquamarine;
    width: 100%;
    margin-top: 15px;
    border: #0DA192 solid 10px;
    font-weight: bold;
    font-size: 20px;
  }
  .bord {
    height: calc(100% / 3);
    width: calc(100% / 3);
    background-color: aquamarine;
    &_1 {
      border: 25px solid #0DA192;  
    }
    &_2 {
      // border-right: 5px solid black;
      border-bottom: 25px solid #0DA192;
    }
    &_3 {
      border-right: 25px solid #0DA192;
    }
    
  }
}
